@charset "utf-8";

main {
  background: #e8d9bf;
}

header {
  position: relative;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-right: 7%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.header_logo {
  width: 226px;
}

.pc_nav ul {
  display: flex;
  gap: 55px;
}

.pc_nav ul li {
  width: 105px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

.contener {
  max-width: 1000px;
}

/*catch_copy*/

#catch_copy {
  text-align: center;
  margin: 0 auto;
}
.catch_copy_1 {
  font-size: 30px;
  padding: 105px 0 60px 0;
}
.catch_copy_2 {
  font-size: 82px;
  line-height: 1.1;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}
.catch_copy_3 {
  font-size: 23px;
  line-height: 1.6;
  letter-spacing: 0.1em;
  margin-bottom: 100px;
}
.catch_copy_3 br {
  display: none;
}

/*ABOUT*/

#about {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.about_img {
  width: 50%;
  margin: 0 86px 0 0;
}
.about_img img {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 82px;
  object-fit: cover;
}
.about_textbox {
  width: 40%;
}
.about_textbox img {
  width: 272px;
  margin: 55px auto 48px auto;
}
.about_textbox p:nth-of-type(1) {
  font-size: 44px;
  line-height: 1.4;
  margin-bottom: 25px;
}
.about_textbox p:nth-of-type(2) {
  font-size: 16px;
  line-height: 1.6;
}

/*MENU*/
#menu {
  justify-content: center;
  margin: 0 auto;
  padding: 0 10px;
}
.menu_tittle {
  text-align: center;
  width: 151px;
  margin: 105px auto 47px auto;
}
.menu_list {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.menu_box {
  width: 30%;
}
.menu_images img {
  width: 100%;
  border-top-right-radius: 41px;
}
h3 {
  font-size: 38px;
  line-height: 0.57;
  color: #d30202;
  margin-bottom: 24px;
}
.menu_text p {
  font-size: 17px;
  line-height: 1.47;
}

/*GALLERY*/

#gallery {
  text-align: center;
}
.gallery_tittle img {
  width: 245px;
  margin: 100px auto 16px auto;
}
.gallery_photo {
  display: flex;
  justify-content: center;
}
.gallery_photo img {
  width: 100%;
  object-fit: cover;
}
.slick-prev {
  left: 23%;
  z-index: 2;
}
.slick-prev:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(-135deg);
}
.slick-next {
  right: 23%;
}
.slick-next:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
}
.lb-data .lb-number {
  display: none !important;
}

/*EVENT*/

#event {
  justify-content: center;
  margin: 0 auto;
  padding: 0 10px;
}
.event_tittle {
  text-align: center;
  width: 173px;
  margin: 60px auto 34px auto;
}
.event_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 3.68px solid #4f260b;
  font-size: 23px;
}
.event_box li {
  margin: 23px;
  display: flex;
}
.event_news {
  margin-left: 55px;
  text-decoration: underline #4f260b;
  text-align: left;
}

/*access*/

.access_tittle {
  text-align: center;
  width: 213px;
  margin: 78px auto 44px auto;
}
.access_map iframe {
  width: 100%;
  height: 470px;
  display: block;
}

/*footer*/

#footer {
  display: flex;
  justify-content: left;
  margin: 77px auto 74px auto;
}
.footer_tittle {
  width: 226px;
  margin-right: 66px;
}
.footer_info p {
  font-size: 20px;
  line-height: 1.95;
}
.copy {
  text-align: center;
  margin: 77px auto 77px auto;
}

.pagetop {
  position: fixed;
  width: 125px;
  bottom: 40px;
  right: 40px;
}

/*スマホ版メニュー*/

.sp_nav,
.sp_btn {
  display: none;
}

@media screen and (max-width: 1100px) {
  .pc_nav {
    display: none;
  }
  /*ハンバーガー*/
  .sp_btn {
    display: block;
    height: 23px;
    cursor: pointer;
    /*位置の調節*/
    position: absolute;
    top: 20px;
    right: 25px;
    /*重なり具合*/
    z-index: 2;
  }
  .sp_btn span {
    display: block;
    width: 33px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    /*位置の調整*/
    position: relative;
    top: 10px;
    transition: 0.3s;
  }
  .sp_btn span::before,
  .sp_btn span::after {
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    /*位置の調整*/
    position: absolute;
    transition: 0.3s;
  }
  .sp_btn span::before {
    bottom: 10px;
  }
  .sp_btn span::after {
    top: 10px;
  }

  /*ばつ印*/
  .sp_btn.open span {
    background: transparent;
  }
  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  .sp_btn.open span::after {
    top: 0;
    transform: rotate(135deg);
  }

  /*SP版メニュー*/
  .sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* デバイスのたかさ100% */
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
  .sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .sp_nav ul li {
    padding: 20px;
    color: #fff;
    font-size: 18px;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
      "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
      "ＭＳ 明朝", serif;
  }
  .catch_copy_2 {
    font-size: 67px;
  }
  .catch_copy_3 {
    font-size: 20px;
  }
  .about_textbox p:nth-of-type(1) {
    font-size: 36px;
  }
}

@media screen and (max-width: 767px) {
  .header_slider img {
    width: 100%;
    height: auto;
  }
  /*catch_copy*/
  .catch_copy_1 {
    font-size: 17px;
  }
  .catch_copy_2 {
    font-size: 38px;
  }
  .catch_copy_3 {
    font-size: 16px;
    width: 90%;
    margin: 0 10px 0 10px;
    margin: 0 auto;
  }
  .catch_copy_3 br {
    display: inline;
  }
  /*ABOUT*/
  .contener {
    flex-direction: column;
  }
  #about .about_img {
    width: 100%;
    height: auto;
  }
  .about_img img {
    border-bottom-right-radius: 0;
  }
  .about_textbox {
    display: contents;
  }
  .about_textbox img {
    order: -1;
  }
  .about_textbox p:nth-of-type(1) {
    font-size: 36px;
    line-height: 1.25;
    width: 80%;
  }
  .about_textbox p:nth-of-type(2) {
    font-size: 16px;
    line-height: 1.75;
    margin-top: 0;
    width: 90%;
  }
  .about_textbox p {
    margin: 36px 0 30px 20px;
  }
  /*MENU*/
  #menu {
    padding: 0 35px 0 35px;
  }
  .menu_list {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu_box {
    width: 100%;
  }

  /*GALLERY*/
  .slick-prev {
    left: 5%;
  }
  .slick-next {
    right: 5%;
  }

  /*EVENT*/
  #event li {
    font-size: 16px;
    flex-direction: column;
    text-align: left;
  }
  .event_news {
    margin-left: 0;
  }

  /*footer*/
  #footer {
    flex-direction: column;
    margin-left: 31px;
  }
  .footer_info p {
    font-size: 18px;
  }
  .footer_info {
    margin-top: 22px;
  }
}

/*スライダー*/
.slick-dots {
  bottom: 20px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: #fff;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}
