@charset "utf-8";

main {
  background: #e8d9bf;
  padding: 104px;
}

header {
  position: relative;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-right: 7%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.header_logo {
  width: 226px;
}

.pc_nav ul {
  display: flex;
  gap: 55px;
}

.pc_nav ul li {
  width: 105px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

.contener {
  max-width: 1000px;
}

/*catch_copy*/

#catch_copy {
  text-align: center;
  margin: 0 auto;
}
.catch_copy_1 {
  font-size: 30px;
  margin-bottom: 60px;
}
.catch_copy_2 {
  font-size: 82px;
  line-height: 1.1;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}
.catch_copy_3 {
  font-size: 23px;
  line-height: 1.6;
  letter-spacing: 0.1em;
  margin-bottom: 100px;
}

/*ABOUT*/

#about {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.about_img {
  width: 500px;
  height: 560px;
  margin: 0 86px 0 0;
}
.about_img img {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 82px;
  object-fit: cover;
}
.about_textbox {
  width: 40%;
}
.about_textbox img {
  width: 272px;
  margin-bottom: 57px;
}
.about_textbox p:nth-of-type(1) {
  font-size: 44px;
  line-height: 1.4;
  margin-bottom: 41px;
}
.about_textbox p:nth-of-type(2) {
  font-size: 16px;
  line-height: 1.6;
}

/*MENU*/
#menu {
  justify-content: center;
  margin: 0 auto;
}
.menu_tittle {
  text-align: center;
  width: 151px;
  margin: 105px auto 47px auto;
}
.menu_list {
  display: flex;
  justify-content: center;
  gap: 48px;
}
.menu_images img {
  width: 300px;
  border-top-right-radius: 41px;
}
h3 {
  font-size: 38px;
  line-height: 0.57;
  color: #d30202;
  margin-bottom: 24px;
}

/*GALLERY*/

#gallery {
  text-align: center;
}
.gallery_tittle img {
  width: 245px;
  margin: 100px auto 16px auto;
}
.gallery_photo {
  display: flex;
  justify-content: center;
}
.gallery_photo img {
  width: 20%;
}

/*EVENT*/

#event {
  justify-content: center;
  margin: 0 auto;
}
.event_tittle {
  text-align: center;
  width: 173px;
  margin: 23px auto 34px auto;
}
.event_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 200px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 3.68px solid #4f260b;
  font-size: 23px;
}
.event_box li {
  margin: 23px;
}
.event_news {
  margin-left: 55px;
}
.event_news li {
  text-decoration: underline #4f260b;
  text-align: left;
}

/*access*/

.access_tittle {
  text-align: center;
  width: 213px;
  margin: 78px auto 44px auto;
}
.access_map iframe {
  width: 100%;
  height: 470px;
  display: block;
}

/*footer*/

#footer {
  display: flex;
  justify-content: left;
  margin: 77px auto 74px auto;
}
.footer_tittle {
  width: 226px;
  margin-right: 66px;
}
.footer_info p {
  font-size: 20px;
  line-height: 1.95;
}
.copy {
  text-align: center;
  margin: 77px auto 77px auto;
}

.pagetop {
  position: fixed;
  width: 125px;
  bottom: 40px;
  right: 40px;
}
